.mext-trnloadmask {
  @extend .x-mask;
  background-color: rgba(0, 0, 0, 0);
}

.mext-trnloadmask-msg {
  @extend .x-mask-msg;
  background: none;
}

.mext-trnloadmask-msg-text {
  @extend .x-mask-msg-text;
  //noinspection CssUnknownTarget
  background-image: url(more-ext/images/Loading_50x50.gif);
  width: 50px;
  height: 50px;
}