.mext-flag-icon-ad-small { background-image: url('more-ext/images/flagicons/small/ad.png'); }
.mext-flag-icon-ae-small { background-image: url('more-ext/images/flagicons/small/ae.png'); }
.mext-flag-icon-af-small { background-image: url('more-ext/images/flagicons/small/af.png'); }
.mext-flag-icon-ag-small { background-image: url('more-ext/images/flagicons/small/ag.png'); }
.mext-flag-icon-ai-small { background-image: url('more-ext/images/flagicons/small/ai.png'); }
.mext-flag-icon-al-small { background-image: url('more-ext/images/flagicons/small/al.png'); }
.mext-flag-icon-am-small { background-image: url('more-ext/images/flagicons/small/am.png'); }
.mext-flag-icon-an-small { background-image: url('more-ext/images/flagicons/small/an.png'); }
.mext-flag-icon-ao-small { background-image: url('more-ext/images/flagicons/small/ao.png'); }
.mext-flag-icon-ar-small { background-image: url('more-ext/images/flagicons/small/ar.png'); }
.mext-flag-icon-as-small { background-image: url('more-ext/images/flagicons/small/as.png'); }
.mext-flag-icon-at-small { background-image: url('more-ext/images/flagicons/small/at.png'); }
.mext-flag-icon-au-small { background-image: url('more-ext/images/flagicons/small/au.png'); }
.mext-flag-icon-aw-small { background-image: url('more-ext/images/flagicons/small/aw.png'); }
.mext-flag-icon-ax-small { background-image: url('more-ext/images/flagicons/small/ax.png'); }
.mext-flag-icon-az-small { background-image: url('more-ext/images/flagicons/small/az.png'); }
.mext-flag-icon-ba-small { background-image: url('more-ext/images/flagicons/small/ba.png'); }
.mext-flag-icon-bb-small { background-image: url('more-ext/images/flagicons/small/bb.png'); }
.mext-flag-icon-bd-small { background-image: url('more-ext/images/flagicons/small/bd.png'); }
.mext-flag-icon-be-small { background-image: url('more-ext/images/flagicons/small/be.png'); }
.mext-flag-icon-bf-small { background-image: url('more-ext/images/flagicons/small/bf.png'); }
.mext-flag-icon-bg-small { background-image: url('more-ext/images/flagicons/small/bg.png'); }
.mext-flag-icon-bh-small { background-image: url('more-ext/images/flagicons/small/bh.png'); }
.mext-flag-icon-bi-small { background-image: url('more-ext/images/flagicons/small/bi.png'); }
.mext-flag-icon-bj-small { background-image: url('more-ext/images/flagicons/small/bj.png'); }
.mext-flag-icon-bm-small { background-image: url('more-ext/images/flagicons/small/bm.png'); }
.mext-flag-icon-bn-small { background-image: url('more-ext/images/flagicons/small/bn.png'); }
.mext-flag-icon-bo-small { background-image: url('more-ext/images/flagicons/small/bo.png'); }
.mext-flag-icon-br-small { background-image: url('more-ext/images/flagicons/small/br.png'); }
.mext-flag-icon-bs-small { background-image: url('more-ext/images/flagicons/small/bs.png'); }
.mext-flag-icon-bt-small { background-image: url('more-ext/images/flagicons/small/bt.png'); }
.mext-flag-icon-bv-small { background-image: url('more-ext/images/flagicons/small/bv.png'); }
.mext-flag-icon-bw-small { background-image: url('more-ext/images/flagicons/small/bw.png'); }
.mext-flag-icon-by-small { background-image: url('more-ext/images/flagicons/small/by.png'); }
.mext-flag-icon-bz-small { background-image: url('more-ext/images/flagicons/small/bz.png'); }
.mext-flag-icon-ca-small { background-image: url('more-ext/images/flagicons/small/ca.png'); }
.mext-flag-icon-catalonia-small { background-image: url('more-ext/images/flagicons/small/catalonia.png'); }
.mext-flag-icon-cc-small { background-image: url('more-ext/images/flagicons/small/cc.png'); }
.mext-flag-icon-cd-small { background-image: url('more-ext/images/flagicons/small/cd.png'); }
.mext-flag-icon-cf-small { background-image: url('more-ext/images/flagicons/small/cf.png'); }
.mext-flag-icon-cg-small { background-image: url('more-ext/images/flagicons/small/cg.png'); }
.mext-flag-icon-ch-small { background-image: url('more-ext/images/flagicons/small/ch.png'); }
.mext-flag-icon-ci-small { background-image: url('more-ext/images/flagicons/small/ci.png'); }
.mext-flag-icon-ck-small { background-image: url('more-ext/images/flagicons/small/ck.png'); }
.mext-flag-icon-cl-small { background-image: url('more-ext/images/flagicons/small/cl.png'); }
.mext-flag-icon-cm-small { background-image: url('more-ext/images/flagicons/small/cm.png'); }
.mext-flag-icon-cn-small { background-image: url('more-ext/images/flagicons/small/cn.png'); }
.mext-flag-icon-co-small { background-image: url('more-ext/images/flagicons/small/co.png'); }
.mext-flag-icon-cr-small { background-image: url('more-ext/images/flagicons/small/cr.png'); }
.mext-flag-icon-cs-small { background-image: url('more-ext/images/flagicons/small/cs.png'); }
.mext-flag-icon-cu-small { background-image: url('more-ext/images/flagicons/small/cu.png'); }
.mext-flag-icon-cv-small { background-image: url('more-ext/images/flagicons/small/cv.png'); }
.mext-flag-icon-cx-small { background-image: url('more-ext/images/flagicons/small/cx.png'); }
.mext-flag-icon-cy-small { background-image: url('more-ext/images/flagicons/small/cy.png'); }
.mext-flag-icon-cz-small { background-image: url('more-ext/images/flagicons/small/cz.png'); }
.mext-flag-icon-de-small { background-image: url('more-ext/images/flagicons/small/de.png'); }
.mext-flag-icon-dj-small { background-image: url('more-ext/images/flagicons/small/dj.png'); }
.mext-flag-icon-dk-small { background-image: url('more-ext/images/flagicons/small/dk.png'); }
.mext-flag-icon-dm-small { background-image: url('more-ext/images/flagicons/small/dm.png'); }
.mext-flag-icon-do-small { background-image: url('more-ext/images/flagicons/small/do.png'); }
.mext-flag-icon-dz-small { background-image: url('more-ext/images/flagicons/small/dz.png'); }
.mext-flag-icon-ec-small { background-image: url('more-ext/images/flagicons/small/ec.png'); }
.mext-flag-icon-ee-small { background-image: url('more-ext/images/flagicons/small/ee.png'); }
.mext-flag-icon-eg-small { background-image: url('more-ext/images/flagicons/small/eg.png'); }
.mext-flag-icon-eh-small { background-image: url('more-ext/images/flagicons/small/eh.png'); }
.mext-flag-icon-england-small { background-image: url('more-ext/images/flagicons/small/england.png'); }
.mext-flag-icon-er-small { background-image: url('more-ext/images/flagicons/small/er.png'); }
.mext-flag-icon-es-small { background-image: url('more-ext/images/flagicons/small/es.png'); }
.mext-flag-icon-et-small { background-image: url('more-ext/images/flagicons/small/et.png'); }
.mext-flag-icon-europeanunion-small { background-image: url('more-ext/images/flagicons/small/europeanunion.png'); }
.mext-flag-icon-fam-small { background-image: url('more-ext/images/flagicons/small/fam.png'); }
.mext-flag-icon-fi-small { background-image: url('more-ext/images/flagicons/small/fi.png'); }
.mext-flag-icon-fj-small { background-image: url('more-ext/images/flagicons/small/fj.png'); }
.mext-flag-icon-fk-small { background-image: url('more-ext/images/flagicons/small/fk.png'); }
.mext-flag-icon-fm-small { background-image: url('more-ext/images/flagicons/small/fm.png'); }
.mext-flag-icon-fo-small { background-image: url('more-ext/images/flagicons/small/fo.png'); }
.mext-flag-icon-fr-small { background-image: url('more-ext/images/flagicons/small/fr.png'); }
.mext-flag-icon-ga-small { background-image: url('more-ext/images/flagicons/small/ga.png'); }
.mext-flag-icon-gb-small { background-image: url('more-ext/images/flagicons/small/gb.png'); }
.mext-flag-icon-gd-small { background-image: url('more-ext/images/flagicons/small/gd.png'); }
.mext-flag-icon-ge-small { background-image: url('more-ext/images/flagicons/small/ge.png'); }
.mext-flag-icon-gf-small { background-image: url('more-ext/images/flagicons/small/gf.png'); }
.mext-flag-icon-gh-small { background-image: url('more-ext/images/flagicons/small/gh.png'); }
.mext-flag-icon-gi-small { background-image: url('more-ext/images/flagicons/small/gi.png'); }
.mext-flag-icon-gl-small { background-image: url('more-ext/images/flagicons/small/gl.png'); }
.mext-flag-icon-gm-small { background-image: url('more-ext/images/flagicons/small/gm.png'); }
.mext-flag-icon-gn-small { background-image: url('more-ext/images/flagicons/small/gn.png'); }
.mext-flag-icon-gp-small { background-image: url('more-ext/images/flagicons/small/gp.png'); }
.mext-flag-icon-gq-small { background-image: url('more-ext/images/flagicons/small/gq.png'); }
.mext-flag-icon-gr-small { background-image: url('more-ext/images/flagicons/small/gr.png'); }
.mext-flag-icon-gs-small { background-image: url('more-ext/images/flagicons/small/gs.png'); }
.mext-flag-icon-gt-small { background-image: url('more-ext/images/flagicons/small/gt.png'); }
.mext-flag-icon-gu-small { background-image: url('more-ext/images/flagicons/small/gu.png'); }
.mext-flag-icon-gw-small { background-image: url('more-ext/images/flagicons/small/gw.png'); }
.mext-flag-icon-gy-small { background-image: url('more-ext/images/flagicons/small/gy.png'); }
.mext-flag-icon-hk-small { background-image: url('more-ext/images/flagicons/small/hk.png'); }
.mext-flag-icon-hm-small { background-image: url('more-ext/images/flagicons/small/hm.png'); }
.mext-flag-icon-hn-small { background-image: url('more-ext/images/flagicons/small/hn.png'); }
.mext-flag-icon-hr-small { background-image: url('more-ext/images/flagicons/small/hr.png'); }
.mext-flag-icon-ht-small { background-image: url('more-ext/images/flagicons/small/ht.png'); }
.mext-flag-icon-hu-small { background-image: url('more-ext/images/flagicons/small/hu.png'); }
.mext-flag-icon-id-small { background-image: url('more-ext/images/flagicons/small/id.png'); }
.mext-flag-icon-ie-small { background-image: url('more-ext/images/flagicons/small/ie.png'); }
.mext-flag-icon-il-small { background-image: url('more-ext/images/flagicons/small/il.png'); }
.mext-flag-icon-in-small { background-image: url('more-ext/images/flagicons/small/in.png'); }
.mext-flag-icon-io-small { background-image: url('more-ext/images/flagicons/small/io.png'); }
.mext-flag-icon-iq-small { background-image: url('more-ext/images/flagicons/small/iq.png'); }
.mext-flag-icon-ir-small { background-image: url('more-ext/images/flagicons/small/ir.png'); }
.mext-flag-icon-is-small { background-image: url('more-ext/images/flagicons/small/is.png'); }
.mext-flag-icon-it-small { background-image: url('more-ext/images/flagicons/small/it.png'); }
.mext-flag-icon-jm-small { background-image: url('more-ext/images/flagicons/small/jm.png'); }
.mext-flag-icon-jo-small { background-image: url('more-ext/images/flagicons/small/jo.png'); }
.mext-flag-icon-jp-small { background-image: url('more-ext/images/flagicons/small/jp.png'); }
.mext-flag-icon-ke-small { background-image: url('more-ext/images/flagicons/small/ke.png'); }
.mext-flag-icon-kg-small { background-image: url('more-ext/images/flagicons/small/kg.png'); }
.mext-flag-icon-kh-small { background-image: url('more-ext/images/flagicons/small/kh.png'); }
.mext-flag-icon-ki-small { background-image: url('more-ext/images/flagicons/small/ki.png'); }
.mext-flag-icon-km-small { background-image: url('more-ext/images/flagicons/small/km.png'); }
.mext-flag-icon-kn-small { background-image: url('more-ext/images/flagicons/small/kn.png'); }
.mext-flag-icon-kp-small { background-image: url('more-ext/images/flagicons/small/kp.png'); }
.mext-flag-icon-kr-small { background-image: url('more-ext/images/flagicons/small/kr.png'); }
.mext-flag-icon-kw-small { background-image: url('more-ext/images/flagicons/small/kw.png'); }
.mext-flag-icon-ky-small { background-image: url('more-ext/images/flagicons/small/ky.png'); }
.mext-flag-icon-kz-small { background-image: url('more-ext/images/flagicons/small/kz.png'); }
.mext-flag-icon-la-small { background-image: url('more-ext/images/flagicons/small/la.png'); }
.mext-flag-icon-lb-small { background-image: url('more-ext/images/flagicons/small/lb.png'); }
.mext-flag-icon-lc-small { background-image: url('more-ext/images/flagicons/small/lc.png'); }
.mext-flag-icon-li-small { background-image: url('more-ext/images/flagicons/small/li.png'); }
.mext-flag-icon-lk-small { background-image: url('more-ext/images/flagicons/small/lk.png'); }
.mext-flag-icon-lr-small { background-image: url('more-ext/images/flagicons/small/lr.png'); }
.mext-flag-icon-ls-small { background-image: url('more-ext/images/flagicons/small/ls.png'); }
.mext-flag-icon-lt-small { background-image: url('more-ext/images/flagicons/small/lt.png'); }
.mext-flag-icon-lu-small { background-image: url('more-ext/images/flagicons/small/lu.png'); }
.mext-flag-icon-lv-small { background-image: url('more-ext/images/flagicons/small/lv.png'); }
.mext-flag-icon-ly-small { background-image: url('more-ext/images/flagicons/small/ly.png'); }
.mext-flag-icon-ma-small { background-image: url('more-ext/images/flagicons/small/ma.png'); }
.mext-flag-icon-mc-small { background-image: url('more-ext/images/flagicons/small/mc.png'); }
.mext-flag-icon-md-small { background-image: url('more-ext/images/flagicons/small/md.png'); }
.mext-flag-icon-me-small { background-image: url('more-ext/images/flagicons/small/me.png'); }
.mext-flag-icon-mg-small { background-image: url('more-ext/images/flagicons/small/mg.png'); }
.mext-flag-icon-mh-small { background-image: url('more-ext/images/flagicons/small/mh.png'); }
.mext-flag-icon-mk-small { background-image: url('more-ext/images/flagicons/small/mk.png'); }
.mext-flag-icon-ml-small { background-image: url('more-ext/images/flagicons/small/ml.png'); }
.mext-flag-icon-mm-small { background-image: url('more-ext/images/flagicons/small/mm.png'); }
.mext-flag-icon-mn-small { background-image: url('more-ext/images/flagicons/small/mn.png'); }
.mext-flag-icon-mo-small { background-image: url('more-ext/images/flagicons/small/mo.png'); }
.mext-flag-icon-mp-small { background-image: url('more-ext/images/flagicons/small/mp.png'); }
.mext-flag-icon-mq-small { background-image: url('more-ext/images/flagicons/small/mq.png'); }
.mext-flag-icon-mr-small { background-image: url('more-ext/images/flagicons/small/mr.png'); }
.mext-flag-icon-ms-small { background-image: url('more-ext/images/flagicons/small/ms.png'); }
.mext-flag-icon-mt-small { background-image: url('more-ext/images/flagicons/small/mt.png'); }
.mext-flag-icon-mu-small { background-image: url('more-ext/images/flagicons/small/mu.png'); }
.mext-flag-icon-mv-small { background-image: url('more-ext/images/flagicons/small/mv.png'); }
.mext-flag-icon-mw-small { background-image: url('more-ext/images/flagicons/small/mw.png'); }
.mext-flag-icon-mx-small { background-image: url('more-ext/images/flagicons/small/mx.png'); }
.mext-flag-icon-my-small { background-image: url('more-ext/images/flagicons/small/my.png'); }
.mext-flag-icon-mz-small { background-image: url('more-ext/images/flagicons/small/mz.png'); }
.mext-flag-icon-na-small { background-image: url('more-ext/images/flagicons/small/na.png'); }
.mext-flag-icon-nc-small { background-image: url('more-ext/images/flagicons/small/nc.png'); }
.mext-flag-icon-ne-small { background-image: url('more-ext/images/flagicons/small/ne.png'); }
.mext-flag-icon-nf-small { background-image: url('more-ext/images/flagicons/small/nf.png'); }
.mext-flag-icon-ng-small { background-image: url('more-ext/images/flagicons/small/ng.png'); }
.mext-flag-icon-ni-small { background-image: url('more-ext/images/flagicons/small/ni.png'); }
.mext-flag-icon-nl-small { background-image: url('more-ext/images/flagicons/small/nl.png'); }
.mext-flag-icon-no-small { background-image: url('more-ext/images/flagicons/small/no.png'); }
.mext-flag-icon-np-small { background-image: url('more-ext/images/flagicons/small/np.png'); }
.mext-flag-icon-nr-small { background-image: url('more-ext/images/flagicons/small/nr.png'); }
.mext-flag-icon-nu-small { background-image: url('more-ext/images/flagicons/small/nu.png'); }
.mext-flag-icon-nz-small { background-image: url('more-ext/images/flagicons/small/nz.png'); }
.mext-flag-icon-om-small { background-image: url('more-ext/images/flagicons/small/om.png'); }
.mext-flag-icon-pa-small { background-image: url('more-ext/images/flagicons/small/pa.png'); }
.mext-flag-icon-pe-small { background-image: url('more-ext/images/flagicons/small/pe.png'); }
.mext-flag-icon-pf-small { background-image: url('more-ext/images/flagicons/small/pf.png'); }
.mext-flag-icon-pg-small { background-image: url('more-ext/images/flagicons/small/pg.png'); }
.mext-flag-icon-ph-small { background-image: url('more-ext/images/flagicons/small/ph.png'); }
.mext-flag-icon-pk-small { background-image: url('more-ext/images/flagicons/small/pk.png'); }
.mext-flag-icon-pl-small { background-image: url('more-ext/images/flagicons/small/pl.png'); }
.mext-flag-icon-pm-small { background-image: url('more-ext/images/flagicons/small/pm.png'); }
.mext-flag-icon-pn-small { background-image: url('more-ext/images/flagicons/small/pn.png'); }
.mext-flag-icon-pr-small { background-image: url('more-ext/images/flagicons/small/pr.png'); }
.mext-flag-icon-ps-small { background-image: url('more-ext/images/flagicons/small/ps.png'); }
.mext-flag-icon-pt-small { background-image: url('more-ext/images/flagicons/small/pt.png'); }
.mext-flag-icon-pw-small { background-image: url('more-ext/images/flagicons/small/pw.png'); }
.mext-flag-icon-py-small { background-image: url('more-ext/images/flagicons/small/py.png'); }
.mext-flag-icon-qa-small { background-image: url('more-ext/images/flagicons/small/qa.png'); }
.mext-flag-icon-re-small { background-image: url('more-ext/images/flagicons/small/re.png'); }
.mext-flag-icon-ro-small { background-image: url('more-ext/images/flagicons/small/ro.png'); }
.mext-flag-icon-rs-small { background-image: url('more-ext/images/flagicons/small/rs.png'); }
.mext-flag-icon-ru-small { background-image: url('more-ext/images/flagicons/small/ru.png'); }
.mext-flag-icon-rw-small { background-image: url('more-ext/images/flagicons/small/rw.png'); }
.mext-flag-icon-sa-small { background-image: url('more-ext/images/flagicons/small/sa.png'); }
.mext-flag-icon-sb-small { background-image: url('more-ext/images/flagicons/small/sb.png'); }
.mext-flag-icon-sc-small { background-image: url('more-ext/images/flagicons/small/sc.png'); }
.mext-flag-icon-scotland-small { background-image: url('more-ext/images/flagicons/small/scotland.png'); }
.mext-flag-icon-sd-small { background-image: url('more-ext/images/flagicons/small/sd.png'); }
.mext-flag-icon-se-small { background-image: url('more-ext/images/flagicons/small/se.png'); }
.mext-flag-icon-sg-small { background-image: url('more-ext/images/flagicons/small/sg.png'); }
.mext-flag-icon-sh-small { background-image: url('more-ext/images/flagicons/small/sh.png'); }
.mext-flag-icon-si-small { background-image: url('more-ext/images/flagicons/small/si.png'); }
.mext-flag-icon-sj-small { background-image: url('more-ext/images/flagicons/small/sj.png'); }
.mext-flag-icon-sk-small { background-image: url('more-ext/images/flagicons/small/sk.png'); }
.mext-flag-icon-sl-small { background-image: url('more-ext/images/flagicons/small/sl.png'); }
.mext-flag-icon-sm-small { background-image: url('more-ext/images/flagicons/small/sm.png'); }
.mext-flag-icon-sn-small { background-image: url('more-ext/images/flagicons/small/sn.png'); }
.mext-flag-icon-so-small { background-image: url('more-ext/images/flagicons/small/so.png'); }
.mext-flag-icon-sr-small { background-image: url('more-ext/images/flagicons/small/sr.png'); }
.mext-flag-icon-st-small { background-image: url('more-ext/images/flagicons/small/st.png'); }
.mext-flag-icon-sv-small { background-image: url('more-ext/images/flagicons/small/sv.png'); }
.mext-flag-icon-sy-small { background-image: url('more-ext/images/flagicons/small/sy.png'); }
.mext-flag-icon-sz-small { background-image: url('more-ext/images/flagicons/small/sz.png'); }
.mext-flag-icon-tc-small { background-image: url('more-ext/images/flagicons/small/tc.png'); }
.mext-flag-icon-td-small { background-image: url('more-ext/images/flagicons/small/td.png'); }
.mext-flag-icon-tf-small { background-image: url('more-ext/images/flagicons/small/tf.png'); }
.mext-flag-icon-tg-small { background-image: url('more-ext/images/flagicons/small/tg.png'); }
.mext-flag-icon-th-small { background-image: url('more-ext/images/flagicons/small/th.png'); }
.mext-flag-icon-tj-small { background-image: url('more-ext/images/flagicons/small/tj.png'); }
.mext-flag-icon-tk-small { background-image: url('more-ext/images/flagicons/small/tk.png'); }
.mext-flag-icon-tl-small { background-image: url('more-ext/images/flagicons/small/tl.png'); }
.mext-flag-icon-tm-small { background-image: url('more-ext/images/flagicons/small/tm.png'); }
.mext-flag-icon-tn-small { background-image: url('more-ext/images/flagicons/small/tn.png'); }
.mext-flag-icon-to-small { background-image: url('more-ext/images/flagicons/small/to.png'); }
.mext-flag-icon-tr-small { background-image: url('more-ext/images/flagicons/small/tr.png'); }
.mext-flag-icon-tt-small { background-image: url('more-ext/images/flagicons/small/tt.png'); }
.mext-flag-icon-tv-small { background-image: url('more-ext/images/flagicons/small/tv.png'); }
.mext-flag-icon-tw-small { background-image: url('more-ext/images/flagicons/small/tw.png'); }
.mext-flag-icon-tz-small { background-image: url('more-ext/images/flagicons/small/tz.png'); }
.mext-flag-icon-ua-small { background-image: url('more-ext/images/flagicons/small/ua.png'); }
.mext-flag-icon-ug-small { background-image: url('more-ext/images/flagicons/small/ug.png'); }
.mext-flag-icon-um-small { background-image: url('more-ext/images/flagicons/small/um.png'); }
.mext-flag-icon-us-small { background-image: url('more-ext/images/flagicons/small/us.png'); }
.mext-flag-icon-uy-small { background-image: url('more-ext/images/flagicons/small/uy.png'); }
.mext-flag-icon-uz-small { background-image: url('more-ext/images/flagicons/small/uz.png'); }
.mext-flag-icon-va-small { background-image: url('more-ext/images/flagicons/small/va.png'); }
.mext-flag-icon-vc-small { background-image: url('more-ext/images/flagicons/small/vc.png'); }
.mext-flag-icon-ve-small { background-image: url('more-ext/images/flagicons/small/ve.png'); }
.mext-flag-icon-vg-small { background-image: url('more-ext/images/flagicons/small/vg.png'); }
.mext-flag-icon-vi-small { background-image: url('more-ext/images/flagicons/small/vi.png'); }
.mext-flag-icon-vn-small { background-image: url('more-ext/images/flagicons/small/vn.png'); }
.mext-flag-icon-vu-small { background-image: url('more-ext/images/flagicons/small/vu.png'); }
.mext-flag-icon-wales-small { background-image: url('more-ext/images/flagicons/small/wales.png'); }
.mext-flag-icon-wf-small { background-image: url('more-ext/images/flagicons/small/wf.png'); }
.mext-flag-icon-ws-small { background-image: url('more-ext/images/flagicons/small/ws.png'); }
.mext-flag-icon-ye-small { background-image: url('more-ext/images/flagicons/small/ye.png'); }
.mext-flag-icon-yt-small { background-image: url('more-ext/images/flagicons/small/yt.png'); }
.mext-flag-icon-za-small { background-image: url('more-ext/images/flagicons/small/za.png'); }
.mext-flag-icon-zm-small { background-image: url('more-ext/images/flagicons/small/zm.png'); }
.mext-flag-icon-zw-small { background-image: url('more-ext/images/flagicons/small/zw.png'); }